:root{
--dark-background-color: #1F2937; 
}

body{
    margin: 0; 
    display: flex; 
    flex-direction: column;font-family: Roboto, Arial, Helvetica;
    box-sizing: border-box;
}

.header,
.section,
.footer{
padding: 0 100px; 
}

.section{
    flex: 1; 
    padding-top: 70px;
    padding-bottom: 70px;
}

.header{
    background-color: var(--dark-background-color);
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8; 
    font-weight: bold;
}

.header-link-text {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    display: flex;
    gap: 24px
}

.hero{
    background-color: var(--dark-background-color);
    display: flex;
}

.hero-content{
    flex: 1; 
}

.hero-content button{
background-color: #3882F6;
border: none; 
border-radius: 5px;
padding: 8px 24px; 
color: #F9FAF8;
font-weight: bold;
}

.hero-header{
    color: #F9FAF8;
    font-size: 48px;
    font-weight:900;
}

.hero-main-text{
    color: #f9faf8f0;
    padding: 10px 10px 10px 0;
    font-size: 18px;
}

.hero-img{
    flex:1; 
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.section.random-info {
    padding-top: 0;
}

.random-info-header{
    font-size: 36px; 
    font-weight: 900;
    color: #1F2937; 
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 32px;
}

.random-info .cards{
    display: flex; 
    justify-content: center;
    gap: 32px; 
    padding-bottom: 48px;
}
.random-info .card{
    border: #3882F6 solid 2px;
    border-radius: 5px;
    display: flex;
    flex-basis: auto;
    min-height: 100px; 
    height: 100%; 
}

.random-info div.card-text::after{
    content: "this is some subtext under an illustration or image";
}

.quote{
    background-color: #E5E7EB;
}

.cta{


}

.footer{
    background-color: #1F2937;
}